{% include 'header.html' %}
<form method="post" action="/store" enctype="multipart/form-data">

<br>

<div class="card">
    <div class = "card-header" >
        Ingresar terminal ver dirferencia
    </div>
  <div class="card-body">
    <div <div class="form-group">
      <label for="txtNumero">Terminal</label>
      <input type="text" name="txtNumero" id="txtNumero" class="form-control" placeholder="" aria-describedby="helpId">
    </div>

    <div <div class="form-group">
        <label for="txtObservacion">Observación</label>
        <input type="text" name="txtobservaciones" id="txtobservaciones" class="form-control" placeholder="" aria-describedby="helpId">
     </div>

     <div <div class="form-group">
        <input type="submit" class="btn btn-success" value="agregar">
        <a href="{{url_for('index')}}"  class  = "btn btn-primary">Regresar</a>
     </div>

   
  </div>
</div>



</form>


{% include 'footer.html' %}